html {
  box-sizing: border-box;
  font-size: 18px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;;
}

.banner {
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
  height: 30rem;
}

.header {
  background-color: cadetblue;
  color: white;
}

.logo {
  margin-left: 2rem;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 2rem;
}

li {
  padding: 1rem 2rem;
}

#headline{
  position: relative;
  top: 10rem;
  left: 2rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}

#headline.flex-container {
  justify-content: flex-end;
}

.headline {
  background-color: white;
  padding: 1.5rem 5rem;
}

.promises {
  justify-content: center;
}

.promise {
  flex-direction: column;
  text-align: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
}

.promise img {
  width: 3.5rem;
  height: auto;
}

.info {
  align-items: flex-start;
  justify-content: center;

}

.sub-info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
  text-align: justify;
}

.sub-info h3 {
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  max-width: 10rem;
}

.footer {
  background-color: azure;
  justify-content: flex-start;
  height: 1.5rem;
  padding: 4rem;
}

.footer img {
  margin-right: 1rem;
}


@media only screen and (max-width: 1125px) {
  .container {
    max-width: 100%;
  }

  .flex-container {
    max-width: 100%;
  }

  .banner {
    padding: 0;
    height: 22rem;
  }

  #headline{
    top: 5rem;
    margin-right: 2rem;
    font-size: 1.33rem;
  }

  .headline {
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }
}
